
<div class="container justify-content-center">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10 col-sm-12">
            <div class="row " style="margin-top: 30px;">
                <div class="col-12">
                    <div class="card card-bg mb-4 mt-0" *ngFor="let item of projetos">
                        <h2 class="card-header">{{item.header}}</h2>
                        <div class="card-body">
                            <h2 class="card-title">{{item.titulo}}</h2>
                            <p class="card-text">{{item.texto}}</p>
                            <a href="{{item.link}}" target="_blank" class="btn btn-primary">Ver no GitHub</a>
                        </div>
                        <div class="card-footer text-muted" >Tecnologias:
                            <c-sharp-badge *ngIf="setBadgeVisible(item, 'c_sharp')"></c-sharp-badge>
                            <dot-net-badge *ngIf="setBadgeVisible(item, 'dot_net')"></dot-net-badge>
                            <html-badge *ngIf="setBadgeVisible(item, 'html')"></html-badge>
                            <css-badge *ngIf="setBadgeVisible(item, 'css')"></css-badge>
                            <ts-badge *ngIf="setBadgeVisible(item, 'ts')"></ts-badge>
                            <js-badge *ngIf="setBadgeVisible(item, 'js')"></js-badge>
                            <jquery-badge *ngIf="setBadgeVisible(item, 'jquery')"></jquery-badge>
                            <angular-badge *ngIf="setBadgeVisible(item, 'angular')"></angular-badge>
                            <bootstrap-badge *ngIf="setBadgeVisible(item, 'bootstrap')"></bootstrap-badge>
                            <python-badge *ngIf="setBadgeVisible(item, 'python')"></python-badge>
                            <sql-badge *ngIf="setBadgeVisible(item, 'sql')"></sql-badge>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div> 