<div class="container justify-content-center">
    <div class="row">
        <div class="col-12">
            <h1>PomodoroApp</h1>
            <h3>Github link: <a href="https://github.com/davi-dangel/PomodoroApp" target="_blank">PomodoroApp</a></h3>
            <h3>About:</h3>
            <p>asodiajsodija osijd ioasjdo</p>            
            <h2>Technologies:
                <c-sharp-badge></c-sharp-badge>
                <dot-net-badge></dot-net-badge>
                <html-badge></html-badge>
            </h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h1>MyCurriculum</h1>
            <h3>Github link: <a href="https://github.com/davi-dangel/MyCurriculum" target="_blank">MyCurriculum</a></h3>
            <h3>About:</h3>
            <p>asodiajsodija osijd ioasjdo</p>            
            <h2>Technologies:
                <html-badge></html-badge>
                <css-badge></css-badge>
                <ts-badge></ts-badge>
                <js-badge></js-badge>
            </h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h1>WikipediaBot</h1>
            <h3>Github link: <a href="https://github.com/davi-dangel/MyCurriculum" target="_blank">WikipediaBot</a></h3>
            <h3>About:</h3>
            <p>asodiajsodija osijd ioasjdo</p>
            <h2>Technologies:
                <python-badge></python-badge>
            </h2>
        </div>
    </div>
</div>