
<div class="container justify-content-center">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10 col-sm-12">
            <div class="row " style="margin-top: 30px;">
                <div class="col-12">
                    <div class="text-center mb-3">
                        <h2>GitHub</h2>
                        <img height="190em" src="https://github-readme-stats.vercel.app/api?username=davi-dangel&show_icons=true&theme=dracula&include_all_commits=true&count_private=true"/>
                        <img height="190em" src="https://github-readme-stats.vercel.app/api/top-langs/?username=davi-dangel&layout=compact&langs_count=7&theme=dracula"/>    
                    </div>
                    <h2 class="text-center">Projetos</h2>
                    <div class="card card-bg mb-4 mt-0" *ngFor="let item of projetos">
                        <h2 class="card-header">{{item.header}}</h2>
                        <div class="card-body">
                            <h2 class="card-title">{{item.titulo}}</h2>
                            <p class="card-text">{{item.texto}}</p>
                            <a href="{{item.link}}" target="_blank" class="btn btn-primary">Ver no GitHub</a>
                        </div>
                        <div class="card-footer text-muted" >Tecnologias:
                            <c-sharp-badge *ngIf="setBadgeVisible(item.badges, 'c_sharp')"></c-sharp-badge>
                            <dot-net-badge *ngIf="setBadgeVisible(item.badges, 'dot_net')"></dot-net-badge>
                            <html-badge *ngIf="setBadgeVisible(item.badges, 'html')"></html-badge>
                            <css-badge *ngIf="setBadgeVisible(item.badges, 'css')"></css-badge>
                            <ts-badge *ngIf="setBadgeVisible(item.badges, 'ts')"></ts-badge>
                            <js-badge *ngIf="setBadgeVisible(item.badges, 'js')"></js-badge>
                            <jquery-badge *ngIf="setBadgeVisible(item.badges, 'jquery')"></jquery-badge>
                            <angular-badge *ngIf="setBadgeVisible(item.badges, 'angular')"></angular-badge>
                            <bootstrap-badge *ngIf="setBadgeVisible(item.badges, 'bootstrap')"></bootstrap-badge>
                            <python-badge *ngIf="setBadgeVisible(item.badges, 'python')"></python-badge>
                            <sql-badge *ngIf="setBadgeVisible(item.badges, 'sql')"></sql-badge>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>