<h2 class="text-center">Tecnologias E Padrões de Arquitetura</h2><br>
<div class="row">    
    <div class="col-3">
        <c-sharp-badge></c-sharp-badge>
    </div>
    <div class="col-3">
        <sql-badge></sql-badge>
    </div>
    <div class="col-3">
        <js-badge></js-badge>
    </div>
    <div class="col-3">
        <jquery-badge></jquery-badge>
    </div>
    <div class="col-3">
        <angular-badge></angular-badge>
    </div>
    <div class="col-3">
        <css-badge></css-badge>
    </div>
    <div class="col-3">
        <bootstrap-badge></bootstrap-badge>
    </div>
    <div class="col-3">
        <python-badge></python-badge>
    </div>
</div>
                  <!-- <p>OOP</p>
                  <p>MVC</p> -->
                  <!--C#-->
                  
                  <!-- <div class="progress progress-bar-cutomization">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
                  </div> -->
                  <!--EF-->
                  <!-- <div class="progress progress-bar-cutomization">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
                  </div> -->
                  <!--SQL/MySQL-->
                  <!-- <div class="progress progress-bar-cutomization">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="57" aria-valuemin="0" aria-valuemax="100" style="width: 57%"></div>
                  </div> -->
                  <!--JavaScript-->
                  <!-- <div class="progress progress-bar-cutomization">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100" style="width: 68%"></div>
                  </div> -->
                  <!--JQuery-->
                  <!-- <div class="progress progress-bar-cutomization">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100" style="width: 73%"></div>
                  </div> -->
                  <!--Angular-->
                  <!-- <div class="progress progress-bar-cutomization">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%"></div>
                  </div> -->
                  <!--CSS-->
                  <!-- <div class="progress progress-bar-cutomization">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100" style="width: 67%"></div>
                  </div> -->
                  <!--Bootstrap-->
                  <!-- <div class="progress progress-bar-cutomization">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%"></div>
                  </div> -->
                  <!--OOP-->
                  <!-- <div class="progress progress-bar-cutomization">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
                  </div> -->
                  <!--MVC-->
                  <!-- <div class="progress progress-bar-cutomization">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
                  </div> -->