<header class="container">
    <div class="row p-2 justify-content-center">
        <a class="" [routerLink]="['/home']">
            <div class="col-2 h-100 text-center" >
                <h2>Home</h2>
            </div>
          </a>
          <a class="" [routerLink]="['/certification']">
            <div class="col-2 h-100 text-center" >
                <h2>Certification</h2>
            </div>
          </a>
          <a class="" [routerLink]="['/projects']">
            <div class="col-2 h-100 text-center" >
                <h2>Projects</h2>
            </div>
          </a>
    </div>

    <!-- <div class="row d-flex justify-content-center align-items-stretch">
      <div class="w-50 p-3 text-center">
        <a href="">
          <span>teste</span>
        </a>
      </div>
      <div class="w-50 p-3 text-center"><span>teste</span></div>
    </div> -->
      <!-- <nav class="navbar">
        <div class="collapse navbar-collapse">
          <ul>
            <li>teste</li>
            <li>teste</li>
          </ul>
             <span class="navbar-brand mb-0 h1">Navbar</span> 
        </div>
      </nav> -->
  </header>