<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuContent" aria-controls="menuContent" aria-expanded="false" aria-label="Toggle navigation">
      <!-- <span class="material-icons-outlined">menu</span> -->
      <mat-icon>menu</mat-icon>
    </button>
    <div class="collapse navbar-collapse" id="menuContent">      
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/home']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/certification']">Certificados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/projects']">Projetos e GitHub</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" target="_blank" href="https://www.linkedin.com/in/davidangelribeiro/">Meu LinkedIn</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" target="_blank" href="https://github.com/davi-dangel">Meu GitHub</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" matTooltip="Enviar E-mail" id="email" href="mailto:contato@davidangel.blog.br">contato@davidangel.blog.br</a>
          <!-- <mat-icon matTooltip="Copiar" class="mat-icon nav-item" (click)="copy(); openSnackBar()">content_copy</mat-icon> -->
        </li>
      </ul>
    </div>
  </div>
</nav>