/* You can add global styles to this file, and also import other style files */

body{
    background-image: linear-gradient(180deg, rgb(77, 8, 141), #000);
    background-attachment: fixed;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
