<title>Home</title>
<div class="container" style="margin-top: 50px;">
  <div class="row">
    <div class="col-md-12 col-xs-12 col-sm-12">
      <div class="container justify-content-center">
        <div class="row d-flex justify-content-center">
          <div class="col-md-7 col-sm-12 text-center">
            <h1>Olá, me chamo Davi e sou desenvolvedor Web</h1>
            <img class="profile-img mt-1 mb-4" src="assets\profile-foto.jpg" alt="">
            <p class="justify">
              &nbsp;&nbsp;&nbsp;&nbsp;Me chamo Davi, sou desenvolvedor de software e bastante empolgado com desenvolvimento Web e estou 
              no último semestre do curso de Informática para Negócios da Fatec. Trabalho na área há pouco mais de
              9 meses, mas faço pequenos projetos há 2 anos já.
            </p>
            <p>
              &nbsp;&nbsp;&nbsp;&nbsp;Sou entusiasta do desenvolvimento web, mas estou sempre 
              olhando em volta para ver o que há de novo e interessante na área. Gosto muito de estudar, aprender coisas novas e 
              aprofundar meu conhecimento nas tecnologias que tenho mais familiaridade.
            </p>
            <p>
              &nbsp;&nbsp;&nbsp;&nbsp;Acredito que a tecnologia pode melhorar a vida das pessoas, trazendo mais conforto e possibilidade para todos.
            </p>
            <p>
              &nbsp;&nbsp;&nbsp;&nbsp;Além disso sou bastante interessado em literatura e teologia, sempre lendo algo a respeito ou juntando as duas áreas.
              Estou aprendendo a andar de patins, curto assistir séries(quando consigo escolher uma, o que não é nada fácil haha),
              ver filmes nos fins de semana. Gosto muito de cozinhar e acompanhar canais de culinária no YouTube.
            </p>
          </div>
        </div>
    </div>
  </div>
</div>