<!--Apresentação-->
<div class="container">
  <div class="row">
    <div class="col-md-12 col-xs-12 col-sm-12">
      <div class="container justify-content-center">
        <h2>Sobre</h2>
        <h2>Experiência</h2>
        <h2>Tecnologias</h2>
      </div>
    </div>
  </div>
<!--Certificados-->
  <div class="row text-center">
    <div class="col-6">
      <h1 class="card-title">Desenvolvimento SPA com Angular</h1>
      <img src="assets\Certificado_DesenvolvimentoSPAcomAngular.png" class="w-75">
    </div>
    <div class="col-6">
      <h1 class="card-title">Iniciando com ASP .NET Core</h1>
      <img src="assets\Certificado_IniciandocomASP.NETCore.png" class="w-75">
    </div>
  </div>
<!--Projects-->
  <div class="row justify-content-center">
      <div class="col-12">
          <h1>PomodoroApp</h1>
          <h3>Github link: <a href="https://github.com/davi-dangel/PomodoroApp" target="_blank">PomodoroApp</a></h3>
          <h3>About:</h3>
          <p>asodiajsodija osijd ioasjdo</p>            
          <h2>Technologies:
              <span class="badge bg-primary">
                  <span class="iconify" data-icon="logos:c-sharp"></span>
              </span>
              <span class="badge bg-primary">
                  <span class="iconify" data-icon="cib:dot-net"></span>
              </span>
              <span class="badge bg-warning text-dark">
                  <span class="iconify" data-icon="icomoon-free:html-five"></span>
                  HTML
              </span>
          </h2>
          <hr>
      </div>
  </div>

  <div class="row">
      <div class="col-12">
          <h1>MyCurriculum</h1>
          <h3>Github link: <a href="https://github.com/davi-dangel/MyCurriculum" target="_blank">MyCurriculum</a></h3>
          <h3>About:</h3>
          <p>asodiajsodija osijd ioasjdo</p>            
          <h2>Technologies:
              <span class="badge bg-warning text-dark">
                  <span class="iconify" data-icon="icomoon-free:html-five"></span>
                  HTML
              </span>
              <span class="badge bg-primary">
                  <span class="iconify" data-icon="fontisto:css3"></span>
                  CSS
              </span>
              <span class="badge bg-warning text-dark">
                  <span class="iconify" data-icon="cib:typescript"></span>
                  typescript
              </span>
              <span class="badge bg-warning text-dark">
                  <span class="iconify" data-icon="akar-icons:javascript-fill"></span>
                  Javascript
              </span>
          </h2>
          <hr>
      </div>
  </div>

  <div class="row">
      <div class="col-12">
          <h1>WikipediaBot</h1>
          <h3>Github link: <a href="https://github.com/davi-dangel/MyCurriculum" target="_blank">WikipediaBot</a></h3>
          <h3>About:</h3>
          <p>asodiajsodija osijd ioasjdo</p>
          <h2>Technologies:
              <span class="badge bg-primary">
                  <span class="iconify" data-icon="mdi:language-python"></span>
                  Python
              </span>
          </h2>
      </div>
  </div>
</div>
